@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.movies>img  {
    width: 300px;
    height: 400px;
    margin-top: 0px;
    align-items: start;
    padding: 15px;
    background-color: #E7CFCD;
    border-style: solid;
  border-color:#CAB1BD;

  
}









